.job_details_main_page {
    margin-top: 80px;
    padding: 0px 80px;
}
.job_information_title_container {
    position: fixed;
    width: 91.5%;
    top: 85px;
    background-color: #fff;
    box-shadow: 0px 0px 17px 0px #00000024;
    padding: 10px 30px;
    text-align: center;
}
.job_details_inside_container {
    margin-top: 190px;
    box-shadow: 0px 0px 17px 0px #00000024;
    min-height: 100vh;
    padding: 6px 30px;
}
.remote_office{
   text-decoration: underline;
   text-transform: uppercase;
   font-style: italic;
}

/* Details */

.job_position_edit_job_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.admin_page_job_info_first_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.stipend_duration_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}
.logo_image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #00000024;
}
.edit_button {
    padding: 6px 17px;
    width: 140px;
    background-color: #c61010c0;
    color: #fff;
    margin-top: 20px;
    border: 1px solid #c61010c0;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    font-weight: 600;
}
@media screen and (max-width:767px){
    .job_information_title_container {
        width: 89%;
        top: 75px;
    }
    .job_details_main_page {
        padding: 0px 40px;
    }
    .admin_page_job_info_first_line{
        width: 60%;
    }
    .stipend_duration_container {
        width: 35%;
    }
}

@media screen and (max-width:992px){
    .job_information_title_container {
        width: 89%;
        top: 75px;
    }
    .job_details_main_page {
        padding: 0px 40px;
    }
    .admin_page_job_info_first_line{
        width: 60%;
    }
    .stipend_duration_container {
        width: 35%;
    }
}